/* .CARD-CONTAINER {
  width: 10vw;
  height: auto;
}

.CARD {
    width: 100%;
} */



.PILE {
  position: relative;
  height: 335px;
}

/* .PILE .CARD-CONTAINER {
  position: absolute;
  top: 0;
  left: 10;
} */
/* .CARD-CONTAINER {
  width: 20vw;
  height: auto;
  position: relative;
  display: inline-block;
  border-radius: 16px;   
  overflow: hidden; 
}

.CARD {
    width: 100%;
}

.CARD-CONTAINER::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1px;   
  box-shadow: inset 0 0 0 3px #000000; 
 pointer-events: none;  
} */

/*  Standard Card Images:
    width = 240
    height = 336 
    
    Joker:
    width = 222.8
    height = 323.5
    
    */



.CARD-CONTAINER {
  position: relative;
  width: 239px;
  height: 335px;

  transform-style: preserve-3d;
  transition: transform 0.6s ease;

  transform-origin: center; /* IMPORTANT */
  cursor: pointer;
}

/* flip in place */
.CARD-CONTAINER.flipped {
  transform: rotateY(180deg);
}

/* both faces occupy same space */
.CARD {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  transform-origin: center;
}

/* front face */
.FRONT {
  transform: rotateY(0deg);
}

/* back face */
.BACK {
  transform: rotateY(180deg);
}